
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	@apply bg-white font-sans text-gray-800 transition-colors duration-300;
	background: linear-gradient(120deg, #fff 0%, #f8fafc 100%);
}

.card {
  @apply bg-background-light rounded-2xl border border-gray-200 shadow-card;
}

.btn-primary {
  @apply bg-background-light text-gray-900 font-semibold py-2 px-6 rounded-lg border border-gray-300 shadow-button hover:bg-gray-100 transition-colors;
}

.btn-accent {
  @apply bg-background-light text-accent-dark font-semibold py-2 px-6 rounded-lg border border-accent shadow-button hover:bg-accent-light transition-colors;
}

.input {
  @apply border border-gray-300 rounded-lg px-4 py-2 text-lg focus:ring-2 focus:ring-accent outline-none bg-background-light text-gray-900;
}
